<div class='container'>
  <div class='row'>
    <div class='m12 m4 l4'>
      <h1 class="grey-text text-lighten-5 blogs">New Blog</h1>
      <hr class="grey-text text-lighten-5">
      <br />
      <%= render 'form' %>

      <div class="card">
        <br />
        <%= link_to 'Back', blogs_path, class: "waves-effect waves-light btn light-green accent-4 side-margin-left" %>
        <br /><br />
      </div>
    </div>
  </div>
</div>
