<div class='container'>
  <div class='row'>
    <div class='m12'>
      <h1 class="center-text">I feel we are all islands in a common sea.</h1>
      <h4 class="justify-right"> ~Anne Morrow Lindbergh</h4>
      <br/>
      <h5 class="center-text">Welcome to a social network built to help cultivate <strong>real</strong> relationships.
      </h5>

      <p>Click here to <%= link_to "login", new_login_path %> or <%= link_to "sign up", new_user_path %></p>
    </div>
  </div>
</div>
