<div class='container'>
  <div class='row'>
    <div class='m12'>
      <h1 class="grey-text text-lighten-5 blogs center">Friends</h1>
      <hr class="grey-text text-lighten-5">
      <br />

      <% unless @current_user.friends.empty? %>
        <div class="card amber lighten-5 big-padding">
          <% @current_user.friends.each do |friend| %>
            <h5><%= link_to "#{friend.other_user(@current_user).full_name}", user_path(friend.other_user(@current_user) ), class: "black-text" %></h5>
              <p>
                <%= link_to 'Create an event', new_event_path(:friend_id => friend.id), class: "waves-effect waves-light btn light-green accent-4" %>
                <%= link_to 'X', friend, method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light btn deep-orange accent-3 right"%>
              </p>
              <br /><hr>
          <% end %>
        </div>
      <% end %>
      <br />
      <div class="card amber lighten-5 center">
        <br />
        <%= link_to "Find More Friends", users_path, class: "waves-effect waves-light btn light-green accent-4" %>
        <br /><br />
      </div>
    </div>
  </div>
</div>
