<div class='container'>
  <div class='row'>
    <div class='m12'>
      <h1>Friends</h1>

      <% unless @current_user.friends.empty? %>
      <table>
        <thead>
          <tr>
            <th>Friend</th>
            <th>Add Event</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <% @current_user.friends.each do |friend| %>
            <tr>
              <td><%= link_to "#{friend.other_user(@current_user).full_name}", user_path(friend.friend_requester.id)%></td>
              <td><%= link_to 'Event', new_event_path(:friend_id => friend.id), class: "waves-effect waves-light btn light-green accent-4" %></td>
              <td><%= link_to 'Delete friend', friend, method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light btn light-green accent-4"%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% end %>

      <p><%= link_to "Find More Friends", users_path, class: "waves-effect waves-light btn light-green accent-4" %></p>
    </div>
  </div>
</div>
