<section class="conversations">

  <%= hidden_field_tag "message_friend_id",  @conversation.friend_id %>
  <%= hidden_field_tag "message_user_id",  @current_user.id %>
  <%= hidden_field_tag "message_conversation_id",  @conversation.id %>

  <p>
    <%= text_field_tag "message_body" %>
  </p>
  <div class="btn light-green accent-4" id="newMessage">send message</div>
  <br /><br />

</section>
