<div class='container'>
  <div class='row'>
    <div class='m12'>
      <h1 class="grey-text text-lighten-5 blogs center">Conversations</h1>
      <hr class="grey-text text-lighten-5">
      <br />
      <% @conversations.each do |conversation| %>
        <% if @current_user.id == conversation.friend.friend_requester_id || @current_user.id == conversation.friend.friend_accepter_id %>
          <div class="card big-padding">
            <h4 class="arimo-font blue-text"><%= conversation.title %></h4>
            <p><%= link_to 'Conversation', conversation, class: "waves-effect waves-light btn light-green accent-4" %><p>
            <br />
          </div>
          <br />
        <% end %>
      <% end %>

      <br />

    </div>
  </div>
</div>

