<div class="aboutbg">
  <br />
  <div class='container'>
    <div class='row'>
      <div class='m12'>
        <h1 class="grey-text text-lighten-5 blogs">Conversations</h1>


        <% @conversations.each do |conversation| %>
          <% if @current_user.id == conversation.friend.friend_requester_id || @current_user.id == conversation.friend.friend_accepter_id %>
            <div class="card amber lighten-5">
            <h5 class="side-margin-left pacifico-font"><%= conversation.title %></h5>
            <p><%= link_to 'Conversation', conversation, class: "waves-effect waves-light btn light-green accent-4 left side-margin-left decent-margin-bottom little-margin-top" %><p>
            </div>
          <% end %>
        <% end %>

        <br />

      </div>
    </div>
  </div>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>
