<div class='container'>
  <div class='row'>
    <div class='m12 m4 l4'>
      <br />
      <h3 class="grey-text text-lighten-5 blogs center">Your conversation with <%= @conversation.friend.other_user(@current_user).full_name %></h3>
      <hr class="grey-text text-lighten-5">
      <br />
      <div id="message-container" class="white scroll card z-depth-3 big  -padding">

      </div>

      <br />
      <div id="convoId" style="display: none"><%= @conversation.id %></div>

      <div class="card search">
        <%= render 'new_message_form' %>

        <%= link_to 'Back', conversations_path, class: "waves-effect waves-light btn light-green accent-4"  %>
      </div>
    </div>
  </div>
</div>
<br />

