<div class='container'>
  <div class='row'>
    <div class='m12 m4 l4'>
      <h1 class="grey-text text-lighten-5 blogs center">Welcome!</h1>
      <div class="card big-padding">
        <%= render 'form' %>
        <div class="center">
          <%= link_to 'Back', :back, class: "waves-effect waves-light btn light-green accent-4" %>
        </div>
      </div>
    </div>
  </div>
</div>
