<h1>Editing Request</h1>

<%= render 'form' %>

<%= link_to 'Show', @request, class: "waves-effect waves-light btn light-green accent-4" %>
<%= link_to 'Back', :back, class: "waves-effect waves-light btn light-green accent-4" %>
