<div class='container'>
  <div class='row'>
    <div class='m12'>
      <h1>New Album</h1>

      <%= render 'form' %>

      <%= link_to 'Back', albums_path, class: "waves-effect waves-light btn light-green accent-4" %>
    </div>
  </div>
</div>
