@import "materialize/components/color";
$primary-color: color("light-blue", "darken-4") !default;
$secondary-color: color("green", "darken-1") !default;
@import 'materialize';

// HTML Elements
* {
  margin: 0;
  padding: 0;
}

body{
  background-color: #fff8e1;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

html, body {
  height: 100%;
}

// Specific Styling for multiple Elements, Classes, Ids

a, p {
  font-family: 'Arimo', sans-serif;
}

.brand-logo, footer h5, h1, th, h2, h3, h4, h6, .island, .pacifico-font, h5 a, div h5.pacifico-font {
  font-family: 'Pacifico', cursive;
}

//Class and specific element styling

.author {
  padding-right: 20px;
}

#about {
  margin: 20px auto;
  width: 97%;
}

.aboutbg {
  background: image-url('landing_page.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#backgroundCardBorder {
  margin: 20px auto;
  width: 97%;
}

.bigger {
  font-size: 1.3em;
}

.blogs {
  text-shadow: 1px 1px black;
}

.brand-logo {
  margin-left: 20px;
}

.center-text {
  text-align: center;
}

.dark {
  background: rgba(0, 0, 0, 0.9);
}

.decent-margin-top {
  margin-top: 15px;
}

.decent-margin-bottom {
  margin-bottom: 15px;
}

footer h5 {
  padding: 0px;
}

footer.page-footer {
  margin: 0px;
  padding: 1px;
}

footer .row{
  margin: 0px;
}

.full-page {
  margin: 100%;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.input-field input[type=search] {
  display: block;
  line-height: inherit;
  padding-left: 4rem;
  width: calc(100% - 4rem);
}

.input-field {
  position: relative;
  min-width: 300px;
  overflow: hidden;
  margin-top: 1rem;
}

.input-field input[type=search] ~ .mdi-navigation-close {
  position: absolute;
  top: 0;
  right: 1rem;
  color: transparent;
  cursor: pointer;
  font-size: 2rem;
  transition: .3s color;
}

.intro {
    text-align: center;
    padding-top: 8%;
    padding-bottom: 25%;
    margin-bottom: 50px;
}

.intro h1 {
    font-weight: 400;
    font-size: 5em;
    text-shadow: 1px 1px black;
}

.intro h5 {
    // text-transform: uppercase;
    background-color: #f5f5f5;
    padding: 10px;
    color: #333333;
    display: inline-block;
    font-size: 1.2rem;
}

.justify-right {
  text-align: right;
}

// .aboutBackground {
//     background-image: url(image-path("landing_page.jpeg"));
//     background-color: #cccccc;
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     -o-background-size: cover;
//     background-size: cover;
//     width: 100%;
//     height: 100%;
// }

.little-margin {
  margin: 5px;
}

.little-pad-right {
  padding-right: 5px;
}

.little-margin-top {
  margin-top: 5px;
}

#login {
  padding: 60px;
}

#login h1{
  margin-bottom: 40px;
  margin-top: -40px;
}

main {
  flex: 1 0 auto;
}

.page-wrap {
    position: relative;
    width: 90%;
    height: 100%;
    margin: 50px auto;
    padding: 50px;
    background: white;
    -moz-box-shadow: 0 0 20px black;
    -webkit-box-shadow: 0 0 20px black;
    box-shadow: 0 0 20px black;
}

.paperbg {
  background: image-url('ricepaper2.png') repeat center center;
  -webkit-background-size: repeat;
  -moz-background-size: repeat;
  -o-background-size: repeat;
  background-size: repeat;
}

.search {
  padding: 20px;
}

.quote {
  padding-left: 20px;
}

.woodbg {
  background: image-url('wood_pattern.png') repeat center center;
  -webkit-background-size: repeat;
  -moz-background-size: repeat;
  -o-background-size: repeat;
  background-size: repeat;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

.side-margin-left {
  float: inline-block;
  margin-left: 25px;
}

.side-margin-right {
  float: inline-block;
  margin-right: 25px;
}

.scroll {
  overflow-y: scroll;
  height: 400px;
}
